<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button 
            routerLink="/"
            class="btn btn-link"
            >
            На главную</button>
    </div>

    <div class="info">
        <strong>Автор поста</strong>
        <small>12.09.2019</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptates hic consequuntur unde reiciendis, impedit praesentium ad voluptas atque nulla iste commodi ratione natus autem? Laudantium consectetur doloremque beatae praesentium at cumque blanditiis doloribus impedit in nisi similique tempore, a nobis, veniam molestiae enim expedita commodi, amet deserunt exercitationem nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptates hic consequuntur unde reiciendis, impedit praesentium ad voluptas atque nulla iste commodi ratione natus autem? Laudantium consectetur doloremque beatae praesentium at cumque blanditiis doloribus impedit in nisi similique tempore, a nobis, veniam molestiae enim expedita commodi, amet deserunt exercitationem nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptates hic consequuntur unde reiciendis, impedit praesentium ad voluptas atque nulla iste commodi ratione natus autem? Laudantium consectetur doloremque beatae praesentium at cumque blanditiis doloribus impedit in nisi similique tempore, a nobis, veniam molestiae enim expedita commodi, amet deserunt exercitationem nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptates hic consequuntur unde reiciendis, impedit praesentium ad voluptas atque nulla iste commodi ratione natus autem? Laudantium consectetur doloremque beatae praesentium at cumque blanditiis doloribus impedit in nisi similique tempore, a nobis, veniam molestiae enim expedita commodi, amet deserunt exercitationem nulla!</p>
    </div>
</div>
