<form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Создать новый пост</h1>

    <div
        class="form-control"
        [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
    >
        <label for="title">Title</label>
        <input id="title" type="text" formControlName="title">
        <div *ngIf="form.get('title').touched && form.get('title').invalid"
            class="validation"    
        >
            <small *ngIf="form.get('title').errors.required">
                Введите названи поста
            </small>
        </div>
    </div>

    <!-- <div class="form-control">
        <label>Content posta</label>
    </div> -->

    <div
    class="form-control"
    [ngClass]="{invalid: form.get('text').touched && form.get('text').invalid}"
>
    <label for="text">Text</label>
    <input id="text" type="text" formControlName="text">
    <div *ngIf="form.get('text').touched && form.get('text').invalid"
        class="validation"    
    >
        <small *ngIf="form.get('text').errors.required">
            Введите текст поста
        </small>
    </div>
</div>

<button 
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid"
    >Создать пост</button>
</form>
